version: "3.9"
services:
  ollama:
    image: ollama/ollama:latest
    container_name: ollama_llm
    restart: unless-stopped
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama
      - ./logs:/logs
    environment:
      - OLLAMA_API_KEY=ton_api_key

  ollama-pull:
    image: ollama/ollama:latest
    container_name: ollama_pull
    depends_on:
      - ollama
    volumes:
      - ollama_data:/root/.ollama
    environment:
      - OLLAMA_HOST=http://ollama:11434
    entrypoint: /bin/sh
    command: -c "sleep 10 && ollama pull qwen2.5:0.5b && echo 'Model downloaded'"
    restart: "no"

  postgres:
    image: postgres:16
    container_name: qwen_postgres
    restart: unless-stopped
    environment:
        POSTGRES_DB: chatbot
        POSTGRES_USER: chatbot
        POSTGRES_PASSWORD: chatbot
        PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./db/init:/docker-entrypoint-initdb.d
    ports:
        - "5432:5432"

volumes:
  pgdata:
  ollama_data: